BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clock50MHz" SITE "F1";
IOBUF  PORT "clock50MHz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock50MHz" 50 MHZ;

LOCATE COMP "clock12MHz" SITE "G2";
IOBUF  PORT "clock12MHz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock12MHz" 74.25 MHZ;

LOCATE COMP "nReset" SITE "G1";
IOBUF  PORT "nReset" PULLMODE=UP IO_TYPE=LVCMOS33;

# UART1
LOCATE COMP "UsbUartRxD" SITE "T1";
LOCATE COMP "UsbUartTxD" SITE "R1";
IOBUF PORT "UsbUartRxD" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "UsbUartTxD" PULLMODE=NONE IO_TYPE=LVCMOS33;

# UART2
LOCATE COMP "visionAddOnUartTxD" SITE "A5";
LOCATE COMP "visionAddOnUartRxD" SITE "B5";
IOBUF PORT "visionAddOnUartTxD" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnUartRxD" PULLMODE=NONE IO_TYPE=LVCMOS33;

# the spi-flash
LOCATE COMP "spiScl" SITE "L20";
LOCATE COMP "spiNCs" SITE "M20";
LOCATE COMP "spiSiIo0" SITE "K20";
LOCATE COMP "spiSoIo1" SITE "M19";
LOCATE COMP "spiIo2" SITE "L19";
LOCATE COMP "spiIo3" SITE "N19";
IOBUF PORT "spiScl" IO_TYPE=LVCMOS18;
IOBUF PORT "spiNCs" IO_TYPE=LVCMOS18;
IOBUF PORT "spiSiIo0" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "spiSoIo1" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "spiIo2" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "spiIo3" PULLMODE=UP IO_TYPE=LVCMOS18;

# HDMI interface
LOCATE COMP "pixelClock" SITE "N4";
LOCATE COMP "horizontalSync" SITE "K4";
LOCATE COMP "verticalSync" SITE "K5";
LOCATE COMP "activePixel" SITE "L4";
LOCATE COMP "hdmiRed[0]" SITE "B19";
LOCATE COMP "hdmiRed[1]" SITE "A19";
LOCATE COMP "hdmiRed[2]" SITE "B18";
LOCATE COMP "hdmiRed[3]" SITE "A18";
LOCATE COMP "hdmiRed[4]" SITE "A17";
LOCATE COMP "hdmiGreen[0]" SITE "P5";
LOCATE COMP "hdmiGreen[1]" SITE "N5";
LOCATE COMP "hdmiGreen[2]" SITE "L5";
LOCATE COMP "hdmiGreen[3]" SITE "J5";
LOCATE COMP "hdmiGreen[4]" SITE "B20";
LOCATE COMP "hdmiBlue[0]" SITE "L3";
LOCATE COMP "hdmiBlue[1]" SITE "M4";
LOCATE COMP "hdmiBlue[2]" SITE "M3";
LOCATE COMP "hdmiBlue[3]" SITE "N3";
LOCATE COMP "hdmiBlue[4]" SITE "P4";
IOBUF PORT "pixelClock" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "horizontalSync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "verticalSync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "activePixel" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

#pushbutton
LOCATE COMP "biosBypass" SITE "J17";
IOBUF PORT "biosBypass" PULLMODE=UP IO_TYPE=LVCMOS18;

#camera interface
LOCATE COMP "SCL" SITE "P3";
LOCATE COMP "SDA" SITE "K2";
LOCATE COMP "camPclk" SITE "E5";
LOCATE COMP "camHref" SITE "F2";
LOCATE COMP "camVsync" SITE "E1";
LOCATE COMP "camData[0]" SITE "E2"; //camera D2
LOCATE COMP "camData[1]" SITE "D1"; //camera D3
LOCATE COMP "camData[2]" SITE "D2"; //camera D4
LOCATE COMP "camData[3]" SITE "C1"; //camera D5
LOCATE COMP "camData[4]" SITE "C2"; //camera D6
LOCATE COMP "camData[5]" SITE "B1"; //camera D7
LOCATE COMP "camData[6]" SITE "B2"; //camera D8
LOCATE COMP "camData[7]" SITE "A2"; //camera D9
IOBUF PORT "SCL" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "SDA" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "camPclk" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camHref" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camVsync" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[0]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[1]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[2]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[3]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[4]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[5]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[6]" PULLMODE=NONE IO_TYPE=LVCMOS12;
IOBUF PORT "camData[7]" PULLMODE=NONE IO_TYPE=LVCMOS12;

FREQUENCY PORT "camPclk" 40 MHZ; # TODO: depends on configured fps!

# The SDRAM
LOCATE COMP "sdramClk" SITE "G19";
LOCATE COMP "sdramCke" SITE "F17";
LOCATE COMP "sdramCsN" SITE "R20";
LOCATE COMP "sdramRasN" SITE "R18";
LOCATE COMP "sdramCasN" SITE "R17";
LOCATE COMP "sdramWeN" SITE "N18";
LOCATE COMP "sdramDqmN[0]" SITE "T17";
LOCATE COMP "sdramDqmN[1]" SITE "G20";
LOCATE COMP "sdramAddr[0]" SITE "P17";
LOCATE COMP "sdramAddr[1]" SITE "P20";
LOCATE COMP "sdramAddr[2]" SITE "N20";
LOCATE COMP "sdramAddr[3]" SITE "P16";
LOCATE COMP "sdramAddr[4]" SITE "H17";
LOCATE COMP "sdramAddr[5]" SITE "J20";
LOCATE COMP "sdramAddr[6]" SITE "H18";
LOCATE COMP "sdramAddr[7]" SITE "H20";
LOCATE COMP "sdramAddr[8]" SITE "J19";
LOCATE COMP "sdramAddr[9]" SITE "G16";
LOCATE COMP "sdramAddr[10]" SITE "P19";
LOCATE COMP "sdramAddr[11]" SITE "G18";
LOCATE COMP "sdramAddr[12]" SITE "F16";
LOCATE COMP "sdramBa[0]" SITE "P18";
LOCATE COMP "sdramBa[1]" SITE "R16";
LOCATE COMP "sdramData[0]" SITE "U20";
LOCATE COMP "sdramData[1]" SITE "U19";
LOCATE COMP "sdramData[2]" SITE "U18";
LOCATE COMP "sdramData[3]" SITE "U17";
LOCATE COMP "sdramData[4]" SITE "U16";
LOCATE COMP "sdramData[5]" SITE "T19";
LOCATE COMP "sdramData[6]" SITE "T20";
LOCATE COMP "sdramData[7]" SITE "T18";
LOCATE COMP "sdramData[8]" SITE "F18";
LOCATE COMP "sdramData[9]" SITE "F19";
LOCATE COMP "sdramData[10]" SITE "F20";
LOCATE COMP "sdramData[11]" SITE "E16";
LOCATE COMP "sdramData[12]" SITE "E17";
LOCATE COMP "sdramData[13]" SITE "E18";
LOCATE COMP "sdramData[14]" SITE "E20";
LOCATE COMP "sdramData[15]" SITE "E19";
IOBUF PORT "sdramClk" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramCke" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramCsN" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "sdramRasN" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramCasN" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramWeN" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramDqmN[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramDqmN[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[4]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[5]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[6]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[7]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[8]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[9]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[10]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[11]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[12]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramBa[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramBa[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[4]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[5]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[6]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[7]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[8]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[9]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[10]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[11]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[12]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[13]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[14]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[15]" PULLMODE=NONE IO_TYPE=LVCMOS18;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

#camera interface forwarded to visionAddOn
LOCATE COMP "visionAddOnCamPclk" SITE "C5";
LOCATE COMP "visionAddOnCamHref" SITE "D5";
LOCATE COMP "visionAddOnCamVsync" SITE "A3";
LOCATE COMP "visionAddOnCamData[0]" SITE "C3";
LOCATE COMP "visionAddOnCamData[1]" SITE "B4";
LOCATE COMP "visionAddOnCamData[2]" SITE "B3";
LOCATE COMP "visionAddOnCamData[3]" SITE "A4";
LOCATE COMP "visionAddOnCamData[4]" SITE "C4";
LOCATE COMP "visionAddOnCamData[5]" SITE "D3";
LOCATE COMP "visionAddOnCamData[6]" SITE "F5";
LOCATE COMP "visionAddOnCamData[7]" SITE "E3";
IOBUF PORT "visionAddOnCamPclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamHref" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamVsync" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnCamData[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

#flash strobe interface to visionAddOn
LOCATE COMP "strobe" SITE "H3";
IOBUF PORT "strobe" PULLMODE=NONE IO_TYPE=LVCMOS33;

#spi interface to visionAddOn
LOCATE COMP "visionAddOnSpiSck" SITE "E4";
LOCATE COMP "visionAddOnSpiMiso" SITE "F3";
LOCATE COMP "visionAddOnSpiMosi" SITE "F4";
LOCATE COMP "visionAddOnSpiTransferDone" SITE "G3";
IOBUF PORT "visionAddOnSpiSck" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnSpiMiso" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnSpiMosi" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "visionAddOnSpiTransferDone" PULLMODE=NONE IO_TYPE=LVCMOS33;
